<section id='starter-guide'>
	<p>Check out <strong>variables.styl</strong> for these definitions.</p>
	<p class='xxx-small'><strong>class "xxx-small" (10px)</strong> {{{meta.lorem}}}
	<p class='xx-small'><strong>class "xx-small" (11px)</strong> {{{meta.lorem}}}
	<p class='x-small'><strong>class "x-small" (12px)</strong> {{{meta.lorem}}}
	<p class='small'><strong>class "small" (14px)</strong> {{{meta.lorem}}}
	<p class='root'><strong>class "root" (16px)</strong> {{{meta.lorem}}}
	<p class='medium'><strong>class "medium" (18px)</strong> {{{meta.lorem}}}
	<p class='large'><strong>class "large" (20px)</strong> {{{meta.lorem}}}
	<p class='x-large'><strong>class "x-large" (24px)</strong> {{{meta.lorem}}}
	<p class='xx-large'><strong>class "xx-large" (32px)</strong> {{{meta.lorem}}}
	<p class='xxx-large'><strong>class "xxx-large" (40px)</strong> {{{meta.lorem}}}
	<p class='xxxx-large'><strong>class "xxxx-large" (48px)</strong> {{{meta.lorem}}}
	<p class='xxxxx-large'><strong>class "xxxxx-large" (64px)</strong> {{{meta.lorem}}}
</section>