<div class='recirc'>
	<p class='recirc__hed'>Go down the Polygraph rabbit hole...</p>
	<div class='recirc__articles'>
		{{#each recirc}}
	    <a class='recirc__article' href='{{url}}' target='_blank'>
	    	<p class='article__top'>{{top}}</p>
	    	<div class='article__headline'>
	    		@@include('article/{{svg}}.svg')
			</div>
			<p class='article__bottom'>
				{{bottom}}
			</p>
			<p class='article__date'>{{date}}</p>
		</a>
		{{/each}}
	</div>	  	
</div>
